* {
  font-family: "Palatino", "serif";
}

body {
  background-color: white;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12.5vw;
  height: 12.5vw;
}

h2 {
  margin-bottom: -0.5vh;
}

p {
  line-height: 1.33em;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: blue;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  min-height: calc(100vh - 3em);
}

.container > div {
  position: relative;
  width: 100%;
}

.page {
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.title {
  text-align: center;
}

.pagenumber {
  text-align: center;
}

.bottom {
  bottom: 1em;
  left: 0;
  margin-left: 50%;
  position: absolute;
}
