/*______the main shit___________*/

body {
  background-color: rgb(0, 13, 15);
  background-image: url("resources/oceantime.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#style1 {
  color: white;
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container {
  display: flex;
  flex-direction: row;
}

#item {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

/*______the box___________*/

.bg-text {
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

/*______Second page fucntionality___________*/

* {
  margin: 0;
}

.container2 {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh; 
  /* Scroll Snap */
  scroll-snap-align: center;
}

.lead {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

section#about {
  padding: 4vh;
  background-color: rgb(0, 12, 21);
}

a {
  color: rgb(88, 90, 92);
  text-decoration: none; /* no underline */
}

a:link {
  color: rgb(88, 90, 92);
}

/* visited link */
a:visited {
  color: rgb(46, 66, 92);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

a:active
{
  color: rgb(25, 25, 25);
}

