body {
    background-color: #43c4ef;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#style1 {
    color: white;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container {
    display: flex;
    flex-direction: row; 
    
}

#item {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}


